/*@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');*/

html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* overflow-x: hidden; */
}

*,
*::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*@font-face {*/
/*font-family: 'Jost-Regular';*/
/*src: url('../../fonts/Jost-Regular.ttf') format('truetype');
}

@font-face {*/
/*font-family: 'Butler_Regular';*/
/*src: url('../../fonts/Butler_Regular.otf') format('opentype');
}*/
@font-face {
    font-family: 'Roboto-Black';
    src: url('file:///D:\Shop\Shop\fonts\Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('file:///C:\Users\ADMIN\Downloads\Roboto\Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'CormorantGaramond-Bold';
    src: url('file:///D:\Shop\Shop\fonts\CormorantGaramond-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('file:///C:\Users\ADMIN\Downloads\Roboto\Roboto-Bold.ttf') format('truetype');
}
body {
    margin: 0;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    font-weight: 400;
    background-color: #fff;
    overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0 none;
    max-width: 100%;
    height: auto !important;
}

img {
    vertical-align: middle;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    background-color: transparent;
    color: inherit;
}

b,
strong {
    font-weight: 700;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}


/* button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:hover {
    color: inherit;
    text-decoration: none;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

figure {
    margin: 0;
}

img {
    vertical-align: middle;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

[role=button] {
    cursor: pointer;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
    font-size: 65%;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-size: 75%;
}

.h1,
h1 {
    font-size: 36px;
}

.h2,
h2 {
    font-size: 30px;
}

.h3,
h3 {
    font-size: 24px;
}

.h4,
h4 {
    font-size: 18px;
}

.h5,
h5 {
    font-size: 14px;
}

.h6,
h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .lead {
        font-size: 21px
    }
}

.small,
small {
    font-size: 85%;
}

.mark,
mark {
    padding: .2em;
    background-color: #fcf8e3;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
    padding: 0;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dd,
dt {
    line-height: 1.42857143;
}

dt {
    font-weight: 700;
}

dd {
    margin-left: 0;
}

abbr[data-original-title],
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #777;
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

table {
    background-color: transparent;
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}

th {
    text-align: left;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=checkbox],
input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

input[type=file] {
    display: block;
}

input[type=range] {
    display: block;
    width: 100%;
}

select[multiple],
select[size] {
    height: auto;
}

input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
    display: table;
    content: " ";
}

.btn-group-vertical>.btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.modal-header:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
    clear: both;
} */

.text2line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text3line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.text5line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.w-20px {
    width: 20px;
}

.h-20px {
    height: 20px;
}

.w-12px {
    width: 12px;
}

.h-12px {
    height: 12px;
}

.w-2 {
    width: 0.5rem;
}

.h-2 {
    height: 0.5rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.w-16px {
    width: 16px;
}

.h-16px {
    height: 16px;
}

.w-46px {
    width: 46px;
}

.h-46px {
    height: 46px;
}


/*tooltip*/

.tooltip-item {
    display: block;
    opacity: 1;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

    .tooltip-item .tooltip-content {
        background-color: #000;
        color: #fff;
        display: none;
        font-size: 14px;
        min-width: max-content;
        border-radius: 5px;
        line-height: 20px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        padding: 4px 15px;
        position: absolute;
        transition: all .3s cubic-bezier(.4, 0, .3, 1);
        z-index: 20;
    }

    .tooltip-item:hover .tooltip-content {
        opacity: 1;
        visibility: visible;
        display: block
    }

.tooltip-bottom.tooltip-item .tooltip-content::before {
    content: '';
    background-color: transparent;
    position: absolute;
}

.tooltip-bottom.tooltip-item .tooltip-content::after {
    content: '';
    position: absolute;
    background: #000;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    z-index: -1;
}

.section_heading {
    position: relative;
    font-family: 'CormorantGaramond-Bold', serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.4;
    user-select: none;
}


@media (max-width: 767px) {
    .section_heading {
        font-size: 24px;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .section_heading {
        font-size: 30px;
    }
}

/*@media (min-width: 1024px) {
    .section_heading {
        line-height: 34px;
        font-size: 30px;
  */ }


.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-start {
    justify-content: start;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1 1 0%;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.mb-3 {
    margin-bottom: 5px;
}

.ml-12 {
    margin-left: 12px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mt-10 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.relative {
    position: relative;
}

.block {
    display: block;
}

.overflow-hd {
    overflow: hidden;
}


.erorr_page {
    color: red;
    font-size: 14px;
    line-height: 20px;
}

.fw-5 {
    font-weight: 500;
}

.fw-7 {
    font-weight: 700;
}
