<div class="text-center mt-10">
    <div class="page-pagination">
        <span class="page current" data-index="1">1</span>
        <span class="page" data-index="2">2</span>
        <span class="next" data-index="next">>></span>
    </div>
</div>

