<div class="sf__collection-container sidebar__rightColumn">
    <div class="sidebar" data-type="rigthColumn">
        <div class="sidebar-content h-full">
            <h3 class="font-medium">Filters</h3>
            <div class="sidebar-close">

            </div>
            <div class="filter-wrapper">
                <div class="widget-fillter">
                    <div class="widget-fillter-list widget-fillter--hinhdang">
                        <ul class="options-swatch">
                            <li class="tag-filter option-fillter tooltip-item tooltip-top" data-group="hinhdang" data-handle="cricle">
                                <span class="tag-fillter_color tag-filter_color-cricle">
                                    <a>Cricle</a>
                                </span>
                                <span class="tooltip-content">Cricle</span>
                            </li>
                            <li class="tag-filter option-fillter tooltip-item tooltip-top" data-group="hinhdang" data-handle="cricle">
                                <span class="tag-fillter_color tag-filter_color-cricle">
                                    <a>Cricle</a>
                                </span>
                                <span class="tooltip-content">Cricle</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

