<div class="cart__summary relative">
    <div class="scd__summary" data-cart-summary="">
        <div class="cart__summary-row cart-subtotal" data-cart-subtotal="">
            <span class="cart-subtotal__title">Subtotal</span>
            <span class="cart-subtotal__price" data-cart-subtotal-price="@ViewBag.sum">$@ViewBag.sum</span>
        </div>
    </div>
    <div class="sf-cart__buttons-container mt-5">
        <div class="sf-cart__submit-controls">
            <a href="/Order" class="w-full cart__submit btn btn-primary">
                Dat hang
            </a>
        </div>

    </div>


</div>
