
<section class="banner">
    <div class="container">
        <div class="section-content">
            <div class="section_head text-center">
                <p class="section_subhead">
                    <img src="@Url.Content("~/Content/images/logo_1.png")" alt="" width="140" height="140" style="padding-bottom: 32px; margin: 0 auto;">
                </p>
                <h2 class="section_heading">Browse Modern and Vintage Mirrors to<br> Add a Final Flourish to Your Yook.</h2>
            </div>
            <div class="banner-list">
                <div class="banner-grid">
                    <div class="banner-column">
                        <a href="" class="banner-link">
                            <div class="" data-image-id="1">
                                <img class="w-full" src="@Url.Content("~/Content/images/Banner/banner-1.jpg")" alt="">
                            </div>
                        </a>
                        <div class="collection_info">
                            <h3 data-image-id="1">
                                <a href="">
                                    Wall Mirrors
                                </a>
                            </h3>
                        </div>
                    </div>
                    <div class="banner-column">
                        <a href="" class="banner-link">
                            <div class="" data-image-id="2">
                                <img class="w-full" src="@Url.Content("~/Content/images/Banner/banner-2.jpg")" alt="">
                            </div>
                            <div class="collection_info">
                                <h3 data-image-id="2">
                                    <a href="">
                                        Wall Mirrors
                                    </a>
                                </h3>
                            </div>
                    </div>
                    <div class="banner-column">
                        <a href="" class="banner-link">
                            <div class="" data-image-id="3">
                                <img class="w-full" src="@Url.Content("~/Content/images/Banner/banner-3.jpg")" alt="">
                            </div>
                        </a>
                        <div class="collection_info">
                            <h3 data-image-id="3">
                                <a href="">
                                    Wall Mirrors
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>